*.csv
__pycache__/
.DS_Store
.ipynb_checkpoints/
node_modules/
dist/
.vercel/
.agent
.env
.env.local
.env.development
.env.test
.env.production

# Ignore log files and databases
*.log
*.sqlite3
*.db











                                    